---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Little about me</div>
  </div>

  <div class="mb-10 text-justify">
    I'm a self-taught developer, Chennai, India. From design to code, outbound mails to clients, door-to-door sales to freelance work and starting an office and everything in between, I've worked on it all in tech. With my previous experience bridging technology to clients, which I truly enjoy. I am confident that I can successfully take on the Implementation Specialist role. 
  </div>
 
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="FreeCodeCamp"
      subtitle="2018 to 2019 on my late-Dell Laptop, at anywhere I can sit."
    />
    <TimeLineElement
      title="Every Online Resource"
      subtitle="2018 to Present at YouTube, Google, Twitter, Udemy & etc."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Web Developer | Designer | Technical Support | Implementation Specialist"
      subtitle="From 2021 to 2024 at Techifize, Chennai, Hybrid"
    >
      <div>
        <ul class="list-disc ml-4">
          <li>Built 20+ Websites, handling everything from designing the UI in Figma, content and to coding the final product.</li>
          <li>Made outbound calls/mail, face to face meetings and successfully converted 20+ clients.</li>
          <li>Configured 10+ apps for clients, adapting them to their workflows.</li>
          <li>Worked on social media branding strategies, designs and digital marketing.</li>
          <li>Worked on almost every aspect of the business, from sales to marketing to customer support and etc.</li>
        </ul>
      </div>
    </TimeLineElement>
    <TimeLineElement
      title=""
      subtitle=""
    >
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->
  <div class="mb-5">
    <div class="text-2xl w-full font-bold">Have Configured</div>
  </div>
  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Zoho CRM</li>
    <li>Zoho Mail</li>
    <li>Classplus</li>
    <li>Airtable</li>
    <li>Intercom</li>
    <li>Mailchimp</li>
    <li>Google Workspace</li>
  </ul>

  <div class="my-5">
    <div class="text-2xl w-full font-bold">Worked with</div>
  </div>
  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>React.JS</li>
    <li>Tailwind CSS</li>
    <li>Ruby</li>
    <li>Rails</li>
    <li>Node.JS</li>
    <li>SQL/SQLite</li>
    <li>PostgreSQL</li>
  </ul>
</BaseLayout>
